<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2FA Setup</title>
</head>
<body>
    <h2>2FA Setup</h2>

    {% if totp_uri %}
        <p>Scan the QR code below :</p>
        <img src="{{ url_for('static', filename='qrcode.png') }}" alt="QR Code">
    {% else %}
        <p>Error setting up 2FA</p>
    {% endif %}

    <p><a href="{{ url_for('login') }}">Continue to Login</a></p>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
